<div id="accept-dispute">
  <div class="hr hr8 hr-double hr-dotted"></div>
  <div class="row-fluid">
    <div class="span12">
      <h4 class="lighter">
        Remarked
      </h4>
      <p>Delivered quantities are confirmed and signed off for</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span7 pull-left">
      <%if @grn.can_raise_dispute_grn? && can?(:make_dispute_grn, @grn) && !dispute_escalated?(@grn, GRN, :grn_dispute_flow_selector) %>
      <%= link_to "Raise Quantity Dispute", order_to_payments_new_dispute_grn_path(@grn.id), :class=> "btn btn-info", :data => { :confirm => "Raise Quantity Dispute?" }, :remote=>true%>
      <%end%>
    </div>
  </div>
</div>
