<div id="retur-history">
  <%=render 'retur_history', :past_retur => @past_retur, :retur => @retur %>
</div>
<div class="row-fluid">
	<div class="span4 offset4" id="history-btn">
		<%= link_to_next_page @past_retur, 'Load More History >>', :remote => true, :id=>"load-more-history", :class=>"btn btn-large btn-default", params: params %>
	</div>
</div>

<script>
  $('.detail-table').dataTable({
    "bPaginate": true,
    "bLengthChange": true,
    "bFilter": true,
    "bInfo": false,
    "iDisplayLength": 10});
</script>
