<div class="row-fluid">
  <div class="space-6"></div>
  <div class="row-fluid">
    <div class="span12">
      <div id="table"><%= render "check_invoice_details", :payment_vouchers => @payment_vouchers, :results => @results %></div>
    </div>
  </div>
</div><!--/row-->

<%= javascript_include_tag "payment_vouchers.js" %>
<!-- Modal -->
<div class="modal fade" id="dialog-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body" id="message">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>