<div class="row-fluid as">
  <div class="span6">
    <div class="dataTables_info" id="table_serv_req_info">
      <%=count_for_records(results)%>
    </div>
  </div>
  <div class="span6">
    <div class="dataTables_paginate paging_bootstrap pagination" id="pagination">
      <%= paginate results, :params => {:controller => "#{params[:controller]}", :action => 'index', :history_log_selected => (params[:action] == "login_history" || params[:history_log_selected] == "0" ? 0 : 1)}, :remote => true if results %>
    </div>
  </div>
</div>
<script>
  remove_page_gap();
</script>