<%= javascript_include_tag "spin.min.js" %>
<div class="row-fluid">
  <div class="space-6"></div>
  <div class="row-fluid">
    <div class="span12">
      <%= render 'shared/filter_and_search_table'%>
      <div id="table"><%=render "order_to_payments/advance_shipment_notifications/results", :results => @results%></div>
    </div>
  </div>
      <!--PAGE CONTENT ENDS HERE-->
</div><!--/row-->
