<% if params[:action] == "new" || params[:action] == "create"
	path = setting_logo_companies_path
	method = "POST"
elsif params[:action] == "edit" || params[:action] == "update"
	path = setting_logo_company_path(logo_company)
	method = "PUT"
end%>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Change Logo icon</h3>
</div>

<div class="modal-body">
	<%= form_for :logo_company, url: path, method: method, :html => {:id => "change_logo_form", :class => 'form-horizontal', :onsubmit => "return get_change_logo('#{method}')"} do |f| %>
	<fieldset>
		<div class="control-group">
			<label class="control-label"  for="Title">Logo</label>
			<div class="controls">
				<%= f.file_field :logo, :id => "logo" %>
			</div>
		</div>
		<div class="control-group">
			<!-- Button -->
			<div class="controls">
				<div class="row-fluid">
					<div class='pull-left' style='margin-left: 8px;'>
						<%= f.button raw('Save<i class="icon-arrow-right icon-on-right"></i>
						'), :class => "btn btn-small btn-success btn-register-span5" %>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<% end %>
</div>
