body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	font-weight: 400
}
.login-layout .widget-box{
	background-color: #0D5BBE;
}
.login-layout h2{
	color:#0D5BBE;
	font-family: 'Roboto Condensed', sans-serif;

	margin: 0;
}
.login-layout h3{
	margin: 0;
	margin-top: 60px;
}
.login-layout .widget-box .widget-main {
background: #FFF;
}
#login-box .user-signup-link {
color: #FFF;
}
h1,h2,h3,h4,h5,h6,.brand{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;

}
.navbar .navbar-inner{
	background: rgb(14,118,209); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlNzZkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDViYmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(14,118,209,1) 0%, rgba(13,91,190,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,118,209,1)), color-stop(100%,rgba(13,91,190,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(14,118,209,1) 0%,rgba(13,91,190,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(14,118,209,1) 0%,rgba(13,91,190,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(14,118,209,1) 0%,rgba(13,91,190,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(14,118,209,1) 0%,rgba(13,91,190,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e76d1', endColorstr='#0d5bbe',GradientType=0 ); /* IE6-8 */
}
.navbar .brand{
	font-weight: 700;
font-size: 26px;
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.49);
}
.ace-nav>li.green {
background: #15367E;
}
.ace-nav > li {
    background: none repeat scroll 0 0 #2E6589;
    border-left: 1px solid rgba(255, 255, 255, 0.33);
    line-height: 48px;
    max-height: 48px;
    padding: 0;
    position: relative;
}

.icon-company {
  position: relative;
  top: -3px;
}

.nav-list>li>a {
display: block;
height: 38px;
line-height: 36px;
padding: 5px 16px 5px 7px;
background-color: #F0F0F0;
color: #999;
text-shadow: none!important;
font-size: 13px;
text-decoration: none;
letter-spacing: 0px;
text-transform: uppercase;
}

.nav-list>li.active>a, .nav-list>li.active>a:hover, .nav-list>li.active>a:focus, .nav-list>li.active>a:active {
color: #0B6CBC;
font-weight: bold;
font-size: 13px;
}
.menu-min .nav-list>li>a {
position: relative;
padding: 15px 0;
}
.infobox>.infobox-data {
font-size: 12px;
}
.ace-nav>li>a>[class*="icon-"] {
font-size: 16px;
color: #FFF;
display: inline-block;
width: 20px;
text-align: center;
}
#sidebar {
width: 190px;
}
#sidebar:before {
width: 190px;
}

#main-content {
margin-left: 192px;
}

.nav-list>li>a .arrow {
top: 16px;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus {
font-size: 15px;
font-weight: normal;
padding: 10px 25px;
}
.noBorder{
	margin-bottom: 20px;
}

body p{
	font-weight: 400
}

.infobox{
	padding:15px 3px 15px 9px
}

.infobox>.infobox-data>.infobox-data-number {
display: block;
font-size: 29px;
}

.nav-list>li>a {
height: auto;
text-align: center;
}
.nav-list>li>a>[class*="icon-"]:first-child {
display: block;
text-align: center;
font-size: 30px;
}
#sidebar.menu-min {
width: 100px;
}
#sidebar.menu-min+#main-content {
margin-left: 102px;
}
#sidebar.menu-min:before {
width: 100px;
}

.menu-min .nav-list>li>a>span,.menu-min .nav-list>li>ul.submenu,.menu-min .nav-list>li>a.dropdown-toggle>span {
left: 100px;
}
.menu-min .nav-list>li>a.dropdown-toggle>span {
left: 101px;
}
.status .label.arrowed{
	width:100px;
	text-transform: uppercase;
}

.table-bordered td{
	font-weight: normal;
	color: #585858
}

.table-header {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(14,118,209,1) 0%, rgba(13,91,190,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0E76D1), color-stop(100%,#0D5BBE));
background: -webkit-linear-gradient(top, #0E76D1 0%,#0D5BBE 100%);
background: -o-linear-gradient(top, rgba(14,118,209,1) 0%,rgba(13,91,190,1) 100%);
background: -ms-linear-gradient(top, rgba(14,118,209,1) 0%,rgba(13,91,190,1) 100%);
background: linear-gradient(to bottom, #0E76D1 0%,#0D5BBE 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e76d1', endColorstr='#0d5bbe',GradientType=0 );
height: 38px;
line-height: normal;
display: block;
color: #999;
padding:5px 10px;
}
.table-header .input-append {
  margin-top: 4px;
  float: left;
  margin-bottom: 0;
}

.table-header .site {
  float: left;
  margin-top: 4px;
}

.table-header .site label {
  line-height: 19px;
  float: left;
  margin-right: 3px;
  margin-top: 5px;
  line-height: normal;
  margin-right: 6px;
  color:#fff;
}
.table-header .icon-refresh{
	color: #fff
}
.table-header .site select {
  margin-bottom: 0;
  width: auto;
  margin-right: 10px;
}

.default select {
  margin: 4px 0 0 0;
  float: left;
}

.default a {
  margin-top: 10px;
  float: left;
  margin-left: 10px;
}

.default a:hover {
  text-decoration: none;
}

.table-header .site label {
  line-height: 19px;
  float: left;
  margin-top: 5px;
  line-height: normal;
  margin-right: 6px;
}

.input-append input[type="text"] {
  width: 135px;
}

.input-append button {
  margin-right: 10px;
}

.table-header + * > table {
  margin-bottom: 0;
}

.table-header + * > table + .btn {
  margin: 20px 12px;
}

.dataTables_wrapper {
  background-color: #eff3f8;
}

.table-header .btn-small{
	margin-top: 4px;
padding: 3px 20px;
border: none;
margin-left: 10px;
background: #0B6CBC
}

.table-header select{
	border: none;
}

.table-header input{
  border: none;
  float: left;
  margin-top: 5px;
}

.spaced>li span{
width: 150px;
display: inline-block;
}

.widget-box.transparent.invoice-box{
	background-color: #FAFAFA;
padding: 20px;
border: 1px solid #CCC;
}

/*additional style*/
.invoice-det .control-label{
  text-align: left;
}

td.text-right{
  text-align: right !important;
}

.dataTables_info span.total-nominee{
  float: right;
  margin-right: 10px;
}

.total-wrap{
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.last-total{
  margin-top: 5px;
}

.barcode img{
  width: 115px;
  margin-top: 5px;
}

#user_info {
    font-size: 17px;
    font-weight: bold;
    line-height: 33px;
    max-width: none;
}

#user_info small {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

.dataTables_paginate span,.dataTables_paginate span a {
 margin: -1px;
    color: #2283C5;
}
.dataTables_paginate span a{
     border:1px solid #E0E8EB;
    padding: 5px 10px;

      background-color: #FAFAFA;
}
.dataTables_paginate span.current {
    background: none repeat scroll 0 0 #6FAED9;
    color: #FFFFFF; border:1px solid #E0E8EB;
    padding: 5px 10px;margin-right: -1px;
}

.pagination {
    margin: 0 0 20px;
}

#error_explanation h2{
  font-size: 14px
}
#error_explanation ul {
  padding: 0;
  margin-left: 0;
}
#error_explanation ul li{
  list-style-type: none;
}
.forgot-password-link {
  padding: 10px;
}

.btn-register-span5{
  width: 340px;
}

.animation_image {background: #F9FFFF;border: 1px solid #E1FFFF;padding: 10px;width: 500px;margin-right: auto;margin-left: auto;}

body .loading-ajax{
  width: 10px;
  background-image: url('/images/ajax-loader.gif');
}

#search-anything {
	height: 38px;
}

.history-btn {
  margin-right: 10px;
}

.histories-div {
  line-height: 43px;
  vertical-align: middle;
  float: right;
}

.modal {
  width: 450px;
	margin-left: -225px;
}
