<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Barcode</Data></Cell>
        <Cell><Data ss:Type="String">Item Code</Data></Cell>
        <Cell><Data ss:Type="String">Item Name</Data></Cell>
        <Cell><Data ss:Type="String">Last Update</Data></Cell>
      </Row>
        <% @results.each do |product| %>
        <Row>
          <Cell><Data ss:Type="String"><%=product.apn_number%></Data></Cell>
          <Cell><Data ss:Type="String"><%=product.code%></Data></Cell>
          <Cell><Data ss:Type="String"><%=product.name%></Data></Cell>
          <Cell><Data ss:Type="String"><%=time_ago_in_words(product.updated_at)%> ago</Data></Cell>
        </Row>
        <%end%>
    </Table>
  </Worksheet>
</Workbook>