<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Group Code</Data></Cell>
        <Cell><Data ss:Type="String">Group Name</Data></Cell>
        <Cell><Data ss:Type="String">Level</Data></Cell>
        <Cell><Data ss:Type="String">Last Update</Data></Cell>
      </Row>
        <% @results.each do |group| %>
        <Row>
          <Cell><Data ss:Type="String"><%=group.code%></Data></Cell>
          <Cell><Data ss:Type="String"><%=group.name%></Data></Cell>
          <Cell><Data ss:Type="String"><%=group.level%></Data></Cell>
          <Cell><Data ss:Type="String"><%=convert_date group.created_at%></Data></Cell>
        </Row>
        <%end%>
    </Table>
  </Worksheet>
</Workbook>